th, .panel-heading {
	text-transform: capitalize;
}

.table {
	margin-bottom: 0;
}

tbody {
	font-size: .8em;
}

/*.part.col-md-3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}*/

.information {
	margin: 0 15px;
}

.children.panel-default, .children.panel-default .panel-heading, .child .table {
	color: #784212;
  background-color: #fdf2e9;
  border-color: #784212;
}
.parts.panel-default, .parts.panel-default .panel-heading, .part.panel-default, .part.panel-default .panel-heading {
	color: green;
  /*background-color: #e8f6f3;*/ /*harsh green*/
  /*background-color: #f5eef8;*/ /*pukey pink*/
  background-color: #eaf2f8; /*stupid blue*/
  border-color: green;
}

.part .table {
	color: green;
}

@media (min-width: 992px) {
	.col-md-3 {
	     width: inherit;
	}
}